<!-- <div class="container-fluid  text-center storesList" id="storepage">
	 <h4 class="panel-heading leftarrow">{{store.address.address1}}</h4>
	 <div class="panel-group" id="accordion">
	 	<div class="panel panel-default" ng-repeat="store in mainCategoryStore">
	 		<div class="panel-heading">
	 			<h4 class="panel-title" ui-sref="storesList">
	 				<a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapsestored" >
	 					<p><span class="headingstored">{{store.brand}}</span><span class="floatL">{{store.address.address1}}</span></p>
	 					<span class="floatR">{{(store.distance/1000).toFixed(1) +"miles"}}</span>
	 				</a>
	 			</h4>
	 		</div>
	 		<div id="collapsestored" class="panel-collapse collapse in" >
      	<div class="panel-body" ng-repeat="subcategory in subCategory">
     	{{store.address}}
     	 </div>
    	</div>
	 		
	 	</div>
	 </div>
	
	 
	  -->